name: Build and Deploy via FTP

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # Upload via FTP
      - name: Upload via FTP
        uses: SamKirkland/FTP-Deploy-Action@v4.3.4
        with:
          server: hehemeomeo.somee.com             # ❌ Không có ftp:// ở đây
          username: ${{ secrets.SOMEE_FTP_USER }}
          password: ${{ secrets.SOMEE_FTP_PASS }}
          server-dir: /www.hehemeomeo.somee.com/   # hoặc /haha/ tùy nơi bạn muốn upload
          local-dir: ./                            # upload tất cả file trong repo
          protocol: ftp
          port: 21
